.layout {
  display: flex;
  min-height: 100vh;
  background-color: #f1f5f9;
}

.main {
  flex: 1;
  margin-left: 280px; /* New Sidebar width */
  padding: 3rem 4rem;
  background-color: transparent;
}
